* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
  padding: 0;
}

header {
  background-color: #f5ba13;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  padding: 0 16px;
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: -40px !important;
  width: 100%;
  height: 2.5rem;
  background-color: #f5ba13;
  margin-bottom: -10px;
}

footer p {
  padding: 10px;
  color: #fff;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 300px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  color: #f5ba13;
  border: none;
  width: 30px;
  height: 36px;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

.edit-input {
  border: solid 1px #f5ba13;
  /*padding: 4px;*/
  background-color: red;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

.addnote-btn {
  position: absolute;
  left: 400px;
  bottom: -40px;
  cursor: pointer;
  background-color: #f5ba13 !important;
  color: #fff !important;
}

.btn-color {
  background-color: transparent !important;
  border-radius: 5px !important;
  color: #f5ba13;
  margin-left: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: right;
  column-gap: 10px !important;
  padding: 1rem;
}

.save-btn,
.cancel-btn {
  color: #f5ba13;
  background-color: transparent !important;
  border: none !important;
  cursor: pointer;
}

.edition {
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 300px;
  margin: 16px;
  float: left;
  white-space: pre-wrap;
}

.title-input {
  border: none;
  outline: none;
  padding: 0.75rem 1rem 0.25rem !important;
  background-color: transparent !important;
}

.content-input {
  width: 100%;
  border: none;
  outline: none;
  min-height: 50px;
  padding: 0.75rem 1rem 0.25rem !important;
  background-color: transparent !important;
  resize: none;
}
.content-input input {
  top: 0%;
}

.colorPicker {
  position: absolute !important;
  height: 15vh;
  width: 30px;
  margin-left: -5%;
  rotate: 180deg;
  margin-top: 30px;
}

.icon-color {
  color: #f5ba13 !important;
  cursor: pointer;
  top: 354px;
  left: 100px !important;
  border: none !important;
  background-color: transparent !important;
}

.data {
  top: 40px !important;
  font-size: 1.1em !important;
  opacity: 0.9;
  bottom: 0%;
}

.dark-mode {
  display: flex;
  flex-direction: row;
  justify-content: right;
  top: 0px;
}
/*
form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
*/
